.menu{
    background-color: rgb(207, 173, 79);
    padding:  10px;
}
.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
}
.menu ul li{
display: inline;
margin-right: 10px;
}
.menu ul li a{
    color: black;
}
.menu ul{
    display: flex;
    justify-content: flex-end;
}

.titulo h2{
    color: rgba(99, 63, 40, 0.89);
    display: flex;
    justify-content: center
    ;
}

.titulo{
    background-color:rgb(207, 173, 79) ;
}
